body{
	color: #69665E;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
}

a{
	text-decoration: none;
	color: #69665E;
}

header{
	padding: 40px 290px;
}

.nav{
	width: 20%;
	padding-top: 2em;
}

.nav-list{
	display: flex;
	font-size: 1em;
	list-style: none;
	margin: 0;
	padding: 0;
	grid-gap: 1em;
}

.cart-container{
	display: flex;
	padding:0 100px
}

.cart-wrapper{
	margin:0 auto;
	width: 70%;
	padding-top: 2em;
}

.cart-contents{
	display: flex;
	grid-gap: 2em;
	align-items: center;
	padding-bottom: 2em;
}

.featured{
	max-width: 20%;
}

button{
	margin-bottom: 1em;
	padding: .5em 1em;
	border-radius:20px;
	border: none;
	background-color:#EDA56A;
}

.check-out-btn{
	color: white;
	font-size: 1.2em;
}

@media (max-width: 1150px){

	*{
		margin:0 auto;
	}

	header{
		padding: 2em 0;
	}

	.nav-list{
		grid-gap: 1em;
		justify-content: center;
	}

	.featured{
		max-width: 100%;
	}

	.cart-container{
		flex-flow: column;
		padding: 0 2em;
	}

	.cart-wrapper{
		margin:0;
		width: 100%;
	}

	.cart-contents{
		flex-flow: column;
		grid-gap: 0;
	}

	.subtotal{
		margin: 0;
		padding:0;
		text-align: center;
	}


	button{
		margin-top: 1em;
	}

}