*{
	margin:0 auto;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

body{
	color: #69665E;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
}

img{
	max-width:40%;
}


h1{
	font-size: 2.5em;
	margin-top: 1em;
	margin-bottom: .5em;
	color: #77A97E;
}

h3{
	font-size: 1.5em;
}

h4{
	color: #918E7C;
	font-weight: 200;
}

a{
	text-decoration: none;
	color: #69665E;
}

.nav{
	margin: 2em 0;
}

.nav-list{
	display: flex;
	flex-flow: row;
	grid-gap: 1em;
	font-size: 1em;
}

.nav__item{
	color: white;
}

.showcase{
	right: 0;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	z-index: 2;
}

.showcase header{
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	padding: 40px 100px;

}


.showcase video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

.text{
	position: relative;
	z-index: 10;
	color: white;
}

.hero-title{
	color: white;
	margin-bottom: 0;
	font-family: 'Arima', serif;
	font-weight: 200;
	letter-spacing: 2px;
	font-size: 9em;
}

.theme-wrapper{
	margin: 2em 15em 3em 15em;
}

.theme-title{
	margin: 2em 0 .5em 0;
}

.featured{
	max-width: 100%;
	
}

a:hover{
	opacity: 0.8;
	transition: 0.5s;
}

.packages-wrapper{
	display: flex;
	flex-flow: row;
}

.pack-info{
	margin:.5em 0;
}

.filter-wrapper{
	text-align: center;
	margin-top: 3em;
}

@media (max-width: 900px){

	.showcase{
		padding: 0;
	}
	.text{
		margin: 0 auto;
		text-align: center;
		font-size: .5em;
	}

	.theme-wrapper{
		margin: 0;
	}

	.packages-wrapper{
		flex-flow: column;
	}
}